* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  background-color: #333;
}

html {
  font-family: "Montserrat", sans-serif;
}

.spanWeather {
  background: #ffd47b;
  font-size: 1rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.h2_nameWeather {
  text-align: center;
  font-size: 3rem;
}

.tempCelsium {
  text-align: center;
  font-size: 4rem;
}

.supCelsium {
  font-size: 1.5rem;
}

.weatherDescription {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.weatherDescription::first-letter {
  text-transform: uppercase;
}

.blockInfo {
  display: flex;
  margin-left: 4rem;
  min-width: 900px;
  margin-right: 4rem;
}

.blockWeather {
  width: 20rem;
  margin: 1rem;
  background: #fff;
  color: #343845;
  padding: 1rem;
  border-radius: 1.5rem;
  padding: 1rem;
}

.weather_img {
  width: 45%;
  display: block;
  margin: 0 auto;
}

.weatherDate {
  padding-top: 1rem;
  display: block;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.h1_weatherApp {
  font-size: 5rem;
  margin: 4rem;
}

.inputweather {
  background-color: transparent;
  height: 4rem;
  margin-left: 5rem;
  width: 24rem;
  font-size: 2rem;
  margin-bottom: 3rem;
  padding: 1rem;

  outline: none;
  border: none;
  cursor: pointer;
  border-bottom: 0.1rem solid #ffffff;
  color: #fff;
}

.btn_search {
  margin-left: 2rem;
  height: 3rem;
  width: 6rem;

  background-color: #ff1e41;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;

  border: none;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
}
