*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #333;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn_click {
  margin: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: rgb(88, 105, 98);
  border: 1rem solid rgb(182, 182, 182);
  font-size: 2rem;
  transition: 0.2s ease all;
}

.btn_click:active {
  border: 0.2rem solid rgb(182, 182, 182);
}

.block_game {
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
  /* justify-content: center;
  align-items: center; */
  margin: 8rem auto;
}

.btn_restart {
  display: block;
  /* width: 12rem; */
  /* height: 4rem; */
  /* margin: 2rem auto; */
  position: sticky;
  left: 45.8%;
  top: 2rem;
  justify-content: center;
  align-items: center;
  background: rgb(85, 85, 92);
  border: 0.7rem solid rgb(167, 166, 166);
  border-radius: 1rem;
  font-size: 3rem;
  padding: 1rem;
  color: rgb(201, 200, 200);
  transition: 0.2s ease;
}

.btn_restart:hover {
  color: rgb(156, 156, 156);
  background: rgb(211, 208, 208);
}
